{% extends "base.html" %}
{% block body %}
<div class="col d-flex justify-content-center">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="static/python.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Python</h5>
                  <p class="card-text">Having great fun learning Python</p>
                  <a href="/comptech/python" class="btn btn-dark">Click Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="static/vsc.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Visual Studio Code</h5>
                  <p class="card-text">My favorite editor for any language</p>
                  <a href="/comptech/vsc" class="btn btn-dark">Click Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="col d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="static/java.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Java</h5>
                  <p class="card-text">Most experienced language</p>
                  <a href="/comptech/java" class="btn btn-dark">Click Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>


{% endblock %}