{% extends "base.html" %}
{% block body %}
<div class="text-left">
    <p>My favorite hobby is playing Cricket. I have been a very big
        fan of the sport since a very young age. I am originally from Pakistan where
        cricket is the 2nd most popular sport just after hockey.I enjoy playing cricket as its allowed me to meet new people.
        Over the years Ive played in many leagues and tournaments. In first year I was 
        also part of the IT Carlow Cricket Team.
    </p>
    <p>The rules are as following: Two teams, both with 11 players, take it in turns to bat and bowl.
        When one team is batting, they try and score as many runs as they can by
        hitting the ball around an oval field. Runs are scored by how far you hit the ball across the field.
        The maximum number of runs you can score of 1 hit is 6 runs. It is the bowling teams objective to 
        get out the opposite team by either catching the ball in the air or hitting the wickets.
    </p>
    <p>Click <a href="https://www.icc-cricket.com/home-page" target="_blank">here</a> for the latest news on Cricket</p>
    <p>
        Below are some pictures:
    </p>
</div>
<br>
{% include 'img gallery/carousalCricket.html'%}

{% endblock %}