{% extends "base.html" %}
{% block body %}
<div class="text-left">
    <p>Another hobby I enjoy is F1. Ive been a big fan of cars since I was young and watched my favorite driver Michael Schumacher's races 
        growing up. I love F1 because of how different each race weekend is and all the different locations the drivers race at. This year its especially
        interesting to watch as the championship is even between 2 drivers, 7 time world champion Lewis Hamilton (Mercedes) and his rival Max Verstappen
        (Redbull),  youngest driver to compete in F1.
    </p>
    <p>A typical F1 race is spread across the weekend: <br>
        On Friday there are 2 Practice sessions which allow drivers get familiar to the tack and see how the car handles.
        Saturday is a crucial day for the teams as they have their third and final practice session before the qualifying 
        session in the afternoon which decides where they will line up at the start of the race.
        Finally on Sunday it is race day. Whoever crosses the line first wins. The first 10 drivers receive championship points.
        Whoever has most championship points at the end of the year will become the Drivers World Champion.
    </p>
    <p>Click <a href="https://www.formula1.com/" target="_blank">here</a> to learn more about Formula 1</p>
    <p>Below are some pictures.</p>
</div>
<br>
{% include 'img gallery/carousalF1.html'%}

{% endblock %}