{% extends "base.html" %}
{% block body %}

<div class="text-enter">
    <ul>
        <li>
            <p>Java is a high-level, class-based, object-oriented programming language.</p>
        </li>
        <li>
            <p>Java was the leading programming language in the world for many years because of its ability to run on any machine with
                the Java Runtime Environment (JRE) installed.</p>
        </li>
        <li><p>As of 2021 Java is no longer the most popular language and has been beaten by Python</p></li>
        <li>
            <p>Java is widely used for building:</p>
            <ul>
                <li><p>Android Apps</p></li>
                <li><p>Java web applications eg. Gmail</p></li>
                <li><p>Programming IDE's eg. Eclipse and IntelliJ </p></li>
            </ul>
        </li>
        <li>
            <p>Click <a href="https://www.java.com/en/" target="_blank">here</a> to learn more about Java.</p>
        </li>
    </ul>
</div>

{% endblock %}