{% extends "base.html" %}
{% block body %}

<br>
<h5> Little Bit about Me </h5>
<br>
<ul class="list-unstyled">
<li>
    <p>&#128075; Hey there! I'm Mohsin </p>
</li>
<li>
    <p>&#128197; 19 years old </p>
</li>
<li>
    <p>&#127968; Living in Enniscorthy Co. Wexford </p>
</li>
<li>
    <p>&#127891; Studying Bachelor of Science (Honours) Software Development in IT Carlow. </p>
</li>
<li>
    <p>&#127759; Originally from Pakistan </p>
</li>
<li>
<p>- Hobbies</p>
<ul class="list-unstyled">
    <li>
        <p>&#127951; Cricket </p>
    </li>
    <li>
        <p>&#127950; F1</p>
    </li>
    <li>
        <p>&#127911; Listening to Music </p>
    </li>
    <li>
        <p>&#9992; &#65039; Travelling (pre covid) </p>
    </li>
</ul>   
</li>
</ul>

{% endblock %}