{% extends "base.html" %}
{% block body %}

<div class="text-enter">
    <ul>
        <li>
            <p>Python is a high level and dynamically typed language.</p>
        </li>
        <li>
            <p>Python is currently the most popular programming language in the world right now</p>
        </li>
        <li>
            <p>Python is used for many application but mostly for Data Science and Machine Learning </p>
        </li>
        <li>
            <p>Click <a href="https://www.python.org/" target="_blank">here</a> to learn more about Python</p>
        </li>
    </ul>
</div>

{% endblock %}