{% extends "base.html" %}
{% block body %}

<div class="text-enter">
    <ul>
        <li>
            <p>Visual Studio Code is an Integrated Development Environment (IDE) made by Microsoft.</p>
        </li>
        <li>
            <p>Visual Studio Code is one of the most popular code editors in the world.</p>
        </li>
        <li>
            <p>I enjoy using Visual Studio Code for editing my code because it has many built in features such as :</p>
            <ul>
                <li><p>Debugger</p></li>
                <li><p>Hundred of extensions</p></li>
                <li><p>Git Version Control</p></li>
                <li><p>Support for all languages</p></li>
            </ul>
        </li>
        <li>
            <p>Click <a href="https://code.visualstudio.com/" target="_blank">here</a> to download Visual Studio Code.</p>
        </li>
    </ul>
</div>

{% endblock %}