<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="{{url_for('static',filename = 'f1/merc.png')}}" class="d-block w-100" alt="image 1">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{{url_for('static',filename = 'f1/redbull.jpg')}}" class="d-block w-100" alt="image 2">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{{url_for('static',filename = 'f1/msc.jpg')}}" class="d-block w-100" alt="image 3">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{{url_for('static',filename = 'f1/maxvslewis.jpeg')}}" class="d-block w-100" alt="image 4">
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="{{url_for('static',filename = 'f1/car.jpg')}}" class="d-block w-100" alt="image 5">
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>